
body{
  font-family: 'Lora', serif;
  margin: 0;
}

.navbar-nav{
  padding: 1% 5%;
}

.nav-link{
  color: black;
  font-style: italic;
}

.first-call{
  font-size: 20px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  margin-right: 15px;
  transition: 1s;
}

.first-call:hover{
  font-style: italic;
  font-size: 22px;
  color: inherit;
}

.main-img{
  width: 100%;
  margin: auto;
}
